network:
  version: 2
  renderer: networkd
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - {{ ansible_facts['eth0']['ipv4']['address'] }}/24
      gateway4: {{ router_ip }}
      nameservers:
        addresses: [{{ router_ip }}]